.container {
    margin-top: 90px;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  mat-card {
    width: 40%;
    margin: 5% auto;
    padding: 30px;
  
  }   

  .btn-color {
      background-color: red;
  }
  
  .title {
    font-family: 'Orbitron', sans-serif;
    text-align-last: center;
  }
  
  .hr-sect {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: rgba(0, 0, 0, 0.35);
    margin: 8px 0px;
  }
  
  .hr-sect::before,
  .hr-sect::after {
    content: "";
    flex-grow: 1;
    background: rgba(0, 0, 0, 0.35);
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    margin: 0px 8px;
  }
  
  @media only screen and (max-width: 475px) {
    mat-card {
      width: 100%;
      height: fit-content;
    }
  }
  
  
  @media only screen and (max-width: 600px) {
    mat-card {
      width: 80%;
      height: fit-content;
    }
  }