.container {
  padding: 20px;
  background-color: #faf7f7;
}

.bg {
  background-color: white; // font-family: Calibri;
}

.fa-plane {
  margin-left: 5px;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.flex-row {
  display: flex;
  justify-content: space-around;
}

.flex-row,
.flex-col,
.flex-wrap > div {
  text-align: center;
}

.flight {
  margin-top: 10px;
}

.flight-name {
  text-align: center;
  font-size: 20px;
  color: #bb4545;
}

.flight-time {
  margin-top: 20px;
}

.flight-depart {
  margin-right: 110px;
}

.grid-container {
  width: 400px;
}

.header {
  font-family: Rubik, sans-serif;
  font-size: 18px;
  color: #615757;
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.grid-view {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  justify-content: center;
}

.seat-view {
  justify-content: center;
  height: 45px;
  width: 45px;
  display: flex;
  margin: 10px;
  font-weight: 700;
  border-radius: 1px;
  color: #000;
  pointer-events: none;
}

.seat-num {
  margin-top: 15px;
}

.vacant {
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 44, 44, 0.56) 50%,
    rgba(159, 155, 155, 0.91) 50%
  );
}

.booked {
  color: #767676;
  background-image: -webkit-linear-gradient(45deg, #dadada 50%, #dfd4d4 50%);
}

.pass-info {
  background-color: white;
  color: rgba(0, 0, 0, 0.65);
  opacity: inherit !important;
}

.pass-name {
  background-color: rgba(228, 222, 147, 0.34);
}

.status-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.status-radio-button {
  margin: 5px;
}

.fa-filter {
  font-size: larger;
  margin-left: 7px;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: initial;
  font-size: 15px;
}
