.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
  }
  
  .flight-logo {
    // display: flex;
    width: 10%;
    height: 50px;
    // align-items: center;
  }
  