a {
    text-decoration: none;
    color: whitesmoke;
    padding-top: 5px;
  }
  
  a:hover,
  a:active {
    color: blue;
  }
  
  .navigation-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  
  
  .navbar {
    background-color: black;
    height: 20px;
    position: fixed;
    min-height: 70px;
  }
  .menu-button {
    color: #fff;
    background-color: #222;
    margin: 0 4px;
  }
  
  .active {
    border-bottom: 3px solid tomato;
    border-radius: 0px;
  }
  
  .brand {
    height: 70px;
    vertical-align: middle;
    cursor: pointer;
    padding-left: 10px;
  }
  
  .mat-menu {
    color: whitesmoke;
  }
  
  .mat-icon {
    color: #fff;
    cursor: pointer;
    margin: 10px auto;
  }

  .links{
      color: whitesmoke;
      margin: 10px;
      cursor: pointer;
  }
  
  .burger {
    background-color: #222;
    box-shadow: 0px 0 3px -2px #ccc;
    border-radius: 0px;
    color: white;
  }
  
  button {
    padding: 1%;
    cursor: pointer;
  }
  
  
  .my-order,
  .log-out,
  .profile,
  .change-password {
    color: black;
    margin-left: -13px;
    margin-right: 6px;
  }
  
  .user-name {
    color: white;
    margin-top: 8px;
    margin-right: -25px;
    font-size: 16px;
  }
  
  @media screen and (max-width: 600px) {
    .user-name {
      overflow: hidden;
      width: 100px;
      text-overflow: ellipsis;
    }
  }

  .example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }
  
  .mat-toolbar {
    background-color: #222;
    height: fit-content;
    position: fixed;
    z-index: 6;
    box-shadow: 0px 0px 5px #333;
    min-height: 70px;
  }