.table-header{
    padding: 10px;
}

.search{
    display: flex;
    justify-content: space-around;
    .addButton{
    justify-content: center;
        margin-top: 12px;
}}

.tableDiv{
    display: flex;
    justify-content: center;

}

.deleteBtn{
    margin: 10px;
}

.actionDiv{
    padding-left: 70px;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .btn{
      margin: 20px;
  }