.table-header{
    padding: 10px;
}

.mat-table {
    overflow-y: scroll;
  }

.search{
    display: flex;
    justify-content: space-around;
    .addButton{
    justify-content: center;
        margin-top: 12px;
}}

.tableDiv{
    display: flex;
    justify-content: center;
    height: 300px;
    overflow-y: scroll;
}

.deleteBtn{
    margin: 10px;
}

.actionDiv{
    padding-left: 70px;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .btn{
      margin: 20px;
  }

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }