.body-wrapper {
    min-height: 100%;
    position: relative;
  
    .content-wrapper {
      padding-bottom: 100px;
    }
  
    .footer-wrapper {
      width: 100%;
      position: fixed;
      bottom: 0;
      left: 0;
    }
  }
  