$nav-background: black;
$nav-font-color: white;
$link-hover-color: red;

.nav-container {
  background: $nav-background;
  display: flex;
  font-size: medium;

  .navbar {
    width: 90%;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    height: 60px;

    .logo-container {
      display: flex;
      width: 100%;
      align-items: center;
      cursor: pointer;

      .flight-logo-text {
        color: $link-hover-color;
        margin-left: 10px;
        cursor: pointer;
    }

      .flight-logo {
        height: 34px;
        width: 34px;
        display: flex;
        box-shadow: -5px -5px 15px #FF0000, 5px 5px 15px #707070;
      }
    }

    .nav-links-container {
      height: 100%;
      overflow-x: auto;
      overflow-y: hidden;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      height: 100%;

      .links {
        display: flex;
        color: $nav-font-color;
        padding-left: 15px;
        padding-right: 15px;
        align-items: center;
        cursor: pointer;
      }

      .links:hover {
        color: $link-hover-color;
        transition: 0.3s;
      }

      .active-link {
        display: flex;
        color: $link-hover-color;
        padding-left: 15px;
        padding-right: 15px;
        align-items: center;
        position: relative;
        cursor: pointer;
      }

      .active-bar {
        position: absolute;
        bottom: -1px;
        height: 4px;
        background: $link-hover-color;
        left: 0;
        right: 0;
        z-index: 1;
      }
    }
  }
}
