.mat-list-item-flight-list {
    align-items: center;
  }
  
  .flight-list-page {
    color: #afeeee;
  }
  
  .flight-list-arrivalTime {
    font-style: italic;
    color: #024b30;
    padding-left: inherit;
  }
  
  .flight-list-departureTime {
    font-style: italic;
    color: #ffbf00;
    padding-left: inherit;
  }
  
  .flight-list-inFlight {
    font-style: italic;
    padding-left: inherit;
  }
  
  .flight-list-checkIn {
    font-style: italic;
    padding-left: inherit;
  }
  
  .flight-list-name {
    padding-left: inherit;
    font-weight: 900;
  }
  